h1 {
  margin-bottom: 20px;
}

ul {
  /* list-style: none; */
  padding: 0px;
}

ul li .contactE{
  /* text-decoration: none !important; */
  /* col1or: black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.advert-detail-link {
  display: flex;
  color: black;
  text-decoration: none;
}

.advert-container-det {
  width: 450px;
  height: auto;
  padding: 30px 20px;
  margin: 0 auto 40px auto;
  
  background-color: rgba(255, 255, 255, 0.637);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.281), 0px 0px 5px #696969;
  border-radius: 20px;
}

.advert-container-det:hover {
  border-radius: 10%;
  transition: all .25s linear;
}

.photo-container-contact{
  width: 100px;
}

.photo-container-contact:hover{
  
  transition: all 0.25s linear;
  width: 120px;
}

.advertsPageDet{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photo-container {
  border-radius: 25px;
}

.photo-container-listaDet {
  width: auto;
  max-width: 390px;
  height: 350px;
}

.delete-button-det {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-button-det button {
  margin: 20px;
}

.tituloAnuncios{
  color: rgb(0, 19, 36);
}


@media screen and (max-width: 449px) {
  .advert-container-det {
    width: 85%;
    height: 100%;
    font-size: 12px;
    margin: 5px;
  }
  .photo-container-listaDet {
    width: auto;
  height: 150px;
  overflow: hidden;
  }
  .detLab{
    font-size:smaller;
  }

  .advertsPageDet{
    height: 500px;
  }
}
