h1 {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0px;
}

.advert-detail-link {
  text-decoration: none;
  color: black;
}

.advert-container {
  padding: 30px 20px;
  width: 50%;
  margin: 0 auto 40px auto;
  background-color: bisque;
  border-radius: 20px;
}

.adsGrid{
    width: 100%;
    display: flex;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
    padding: 1.5rem;
    background-color: rgba(223, 199, 243, 0.39);
}

.photo-container {
  border-radius: 25px;
}

.photo-container-lista{
  width: 85px;
}

.delete-button {
  margin-bottom: 20px;
  margin-top: -20px;
}

.delete-button button {
  margin: 0 20px;
}
