.adverts-create-container {
  margin-bottom: 20px;
}

.backimg {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.788);
}

.formCreate {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.adverts-create {
  width: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 2px;
}

.imgM {
  height: 80px;
}

.labPrice {
  height: 38px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.11px;
  padding: 9px 16px;
  font-weight: bold;
}

.formCrea {
  background-color: rgba(255, 255, 255, 0.568);
  width: 450px;
  border-radius: 15px;
  padding-bottom: 30px;
}

.labPrice {
  border: none;
  border-radius: 4px;
  width: 100%;
  font-family: "Open Sans", Verdana, Tahoma, Arial, Helvetica, sans-serif;
}
