.adverts-filters-container {
  width: 90%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
}

.filterList {
  margin: 0px 0px 0px 10px;
  background-color: rgba(97, 39, 6, 0.233);
  box-shadow: 3px 3px 10px rgba(97, 39, 6, 0.13), 0px 0px 25px rgba(97, 39, 6, 0.253);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  width: 400px;
  height: 50%;
}

.adverts-filters {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 250px;
}

.filter-fieldset-radio {
  display: flex;
  justify-content: center;
  border-color: transparent;
  padding: 0px;
}

.filter-fieldset-radio input {
  margin: 2px 0px 2px 0px;
}

.filter-fieldset-radio label {
  margin: 2px 6px 8px 8px;
}

.byPrice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

input {
  border-radius: 6px;
  height: 25px;
}

.radioCont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px !important;
}

option {
  text-align: center;
}

/* .select-page{
  margin: 10px 10px 0px -15px;
} */

.divelista{
  padding: 2%;
}

.filter-fieldset-tags{
  margin: 3px;
}

.lista-detalle-filtro {
  
  border-radius: 8px;
  color: rgb(5, 4, 59);
  margin: 1%;
}

.select-lista{
  margin:15px;
  border-radius: 8px;
}

.inputLista{
  width:100%;
}

@media screen and (max-width: 609px) {
  .labFilter {
    display: none;
  }

  .adverts-filters {
    display: none;
  }

  .radioCont {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .adverts-filters {
    margin: 5px !important;
  }

  input {
    border-radius: 6px;
    height: 35px;
    width: 100%;
  }

  label {
    font-size: x-large;
  }

  legend {
    font-size: x-large;
    padding: 25pxpx 0px 0px 25px;
    border: 1px solid #96d1f880;
    width: 100%;
    background: #96d1f841;
  }

  .filter-fieldset-radio {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3px;
    margin: 5px;
  }

  .adverts-filters-container {
    width: 100%;
    display: block;
    justify-content: center;
  }

  .filter-fieldset-radio input {
    height: 20px;
    width: 20px;
  }

  .filter-fieldset-tags {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 610px) {
  .lista-detalle-filtro {
    display: none;
  }
}
