.adverts-filters-container {
  width: 100%;
  height: auto;
  border-radius: 5px;
  background: linear-gradient(
    0deg,
    rgb(238, 206, 146) 38%,
    rgb(255, 216, 164) 70%
  );
  box-shadow: 3px 3px 1px rgba(97, 39, 6, 0.13),
    0px 0px 25px rgba(97, 39, 6, 0.253);
  padding: 0%;
  margin: 0px;
}

.filterList {
  margin: 0px 20px 0px 0px;
  border-radius: 15px;
  width: 100%;
  z-index: 1;
}

.adverts-filters {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: auto;
}

.legenda {
  box-shadow: 2px -2px 2px rgba(97, 39, 6, 0.233),
    -2px 2px 1px rgba(97, 39, 6, 0.575);
  margin: 0px;
  padding-top: 5px;
  font-size: larger;
  font-weight: bolder;
  border-radius: 10px;
}

.filter-fieldset-radio {
  display: flex;
  justify-content: center;
  border-color: transparent;
  padding: 0px;
  margin: 0px;
  font-weight: bold;
}

.filter-fieldset-radio input {
  margin: 2px 0px 2px 0px;
}

.filter-fieldset-radio label {
  margin: 2px 6px 8px 8px;
}

.byPrice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

input {
  border-radius: 6px;
  height: 25px;
}

.radioCont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px !important;
}

option {
  text-align: center;
}

/* .select-page{
  margin: 10px 10px 0px -15px;
} */

.filtroLista {
  height: auto;
  padding: 0px;
}

.TitFil {
  margin: 0px 0px 5px 0px;
  padding: 0px;
}

.divelista {
  padding: 0%;
  height: auto;
}

.listaPleg {
  width: auto;
}

.filter-fieldset-tags {
  margin: 3px;
}

.lista-detalle-filtro {
  border-radius: 8px;
  color: rgb(5, 4, 59);
  margin: 0%;
}

.select-lista {
  margin: 15px;
  border-radius: 8px;
}

.inputLista {
  width: 100%;
}

@media screen and (max-width: 609px) {
  .labFilter {
    display: none;
  }

  .filterList {
    height: 50px;
  }

  .adverts-filters {
    display: none;
  }

  .radioCont {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .adverts-filters {
    margin: 5px !important;
  }

  input {
    border-radius: 6px;
    height: 35px;
    width: 100%;
  }

  label {
    font-size: x-large;
  }

  legend {
    font-size: x-large;
    padding: 25pxpx 0px 0px 25px;
    border: 1px solid #96d1f880;
    width: 100%;
    background: #96d1f841;
  }

  .filter-fieldset-radio {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3px;
    margin: 5px;
  }

  .adverts-filters-container {
    width: 100%;
    display: block;
    justify-content: center;
  }

  .filter-fieldset-radio input {
    height: 20px;
    width: 20px;
  }

  .filter-fieldset-tags {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 610px) {
  .lista-detalle-filtro {
    display: none;
  }
}
