.adverts-create-container {
  margin-bottom: 20px;
}

.backimg{
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.788);
  
}

.imgM{
  margin:3% 10% 0% 10%;
  height: 500px;
}

.labPrice {
  height: 38px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.11px;
    padding: 9px 16px
}

.bodyCont{  
  
}

.formCrea{
  background-color: rgba(255, 255, 255, 0.568);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.281), 0px 0px 5px #696969;
  width: 300px;
  border: solid 1px;
  border-radius: 15px;
  padding-bottom: 30px;
}


.labPrice {
  border: none;
  border-radius: 4px;
  width: 100%;
  font-family: 'Open Sans',Verdana,Tahoma,Arial,Helvetica,sans-serif;
}

@media screen and (max-width: 1900px) {
  .imgM{
    padding: 8%;
    height: 500px;
  }
}

@media screen and (max-width: 1800px) {
  .imgM{
    padding: 7%;
    height: 490px;
  }
}

@media screen and (max-width: 1700px) {
  .imgM{
    padding: 7%;
    height: 470px;
  }
}

@media screen and (max-width: 1600px) {
  .imgM{
    padding: 5%;
    height: 460px;
  }
}

@media screen and (max-width: 1500px) {
  .imgM{
    padding: 5%;
    height: 440px;
  }
}

@media screen and (max-width: 1400px) {
  .imgM{
    padding: 5%;
    height: 430px;
  }
}

@media screen and (max-width: 1300px) {
  .imgM{
    padding: 5%;
    height: 410px;
  }
}

@media screen and (max-width: 1200px) {
  .imgM{
    padding: 5%;
    height: 390px;
  }
}

@media screen and (max-width: 1100px) {
  .imgM{
    padding: 3%;
    height: 370px;
  }
}

@media screen and (max-width: 1000px) {
  .imgM{
    padding: 3%;
    height: 350px;
  }
}

@media screen and (max-width: 900px) {
  .imgM{
    padding: 3%;
    height: 280px;
  }
}

@media screen and (max-width: 800px) {
  .imgM{
    padding: 3%;
    height: 240px;
  }
}

@media screen and (max-width: 700px) {
  .imgM{
    padding: 0%;
    height: 150px;
  }
}

@media screen and (max-width: 600px) {
  .imgM{
    padding: 3%;
    height: 60px;
  }
}

@media screen and (max-width: 500px) {
  .imgM{
    padding: 0%;
    height: 50px;
  }
}

@media screen and (max-width: 400px) {
  .imgM{
    padding: 0%;
    height: 40px;
  }
}