body{
  background-color: rgb(31, 31, 31);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(71, 70, 70);
  padding: 15px 30px;
}

.header-navbar {
  text-decoration: none;
  align-self: flex-end;
  justify-content: right;
  align-items: end;
}



.header-logo {
  text-decoration: none;
  color: black;
  text-decoration: solid;
}

.header-navbar-mob{
  padding-bottom: 25px;
  margin: 6px;
  display: flex;
  justify-content:flex-start;

}

.lista-detalle{
  width: 100%;
    border: 1px solid #96d1f8;
    background: #65a9d731;   
    padding: 5px 10px;
    border-radius: 8px;    
    color: rgb(5, 4, 59);
    margin: 0px;
    z-index: 1;
}

.footer {
  margin-top: 70px;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 50px 50px 50px;
    gap: 30px;
    background-color: rgb(71, 70, 70);
    margin-bottom: 50px;
    height: 100px;
}

.navlinks {
  margin: 10px;
  color: rgb(205, 209, 255);
  text-decoration: none;
}

.navlinks.active {
  text-decoration: none;
  color: rgb(255, 170, 170);
  font-weight: 600;
}

.iconFoot{
    box-shadow: 3px 3px 10px black, 0px 0px 25px #0397fa;
    transition: all 0.6s linear;
    border-radius: 10px;
    width: 100%;
}

.iconFoot:hover{
    animation-name: bounce;
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@media screen and (min-width: 550px) {
  .iconFoot{
      border-radius: 15px;
  }
  
  footer {
      grid-template-columns:80px 80px 80px;
  }
  .iconFoot:hover{
      animation-name: bounce;
      animation-duration: 2.5s;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
  }

  .header-navbar-mob{
    display:none;
}

  
@keyframes bounce {

  0%, 20%, 40%, 60%, 80%, 100% {transform: translateY(0);}
  10%, 30% {transform: translateY(-10px);}
  50% {transform: translateY(-5px);}
}
}

@media screen and (max-width: 549px) {
  .header-navbar{
      display:none;
  }
  .container-logo{
      margin-right: 30%; 
  }
}