.form-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form div {
  margin: 20px;
}

label {
  margin-right: 10px;
}

.logoCont{
  background-color: rgba(255, 255, 255, 0.788);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoReg {
  margin-left: 45px;
  width: 280px;
  border-radius: 5px;
}

.logoReg:hover{
  animation-name: bounce;
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

.loginForm__field {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.imgAdd{
  padding: 10%;
  height: 900px;
}

.navlinksButt{
  text-decoration: none;
  color: black;
}

.formcontainer{
  background-color: rgba(255, 255, 255, 0.788);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 800px;
}

.form-page-container-sign{
  background-color: rgba(255, 255, 255, 0.568);
  padding: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  height: 530px;
  /* border: solid 1px;
  border-radius: 15px;
  padding-bottom: 30px; */
}

.loginForm__submit {
  margin-top: 10px;
  width: 100%;
}

.loginPageTitle{
  color: aliceblue;
}

.form-input-sign{
  width: 350px;
}

@media screen and (max-width: 450px) {
  .loginPage {
    width: 75%;
  }

  .logLabl{
    width:100%;
    margin: 80px 80px 80px 80px
  }

  .loginput{
    font-size: x-large;
    margin: 5px;
  }

  .form-input{
    margin: 0px;
    width: 300px;
  }
}

@media screen and (max-width: 1900px) {
  .imgAdd{
    padding: 8%;
    height: 900px;
  }
}

@media screen and (max-width: 1800px) {
  .imgAdd{
    padding: 7%;
    height: 840px;
  }
}

@media screen and (max-width: 1700px) {
  .imgAdd{
    padding: 7%;
    height: 810px;
  }
}

@media screen and (max-width: 1600px) {
  .imgAdd{
    padding: 5%;
    height: 780px;
  }
}

@media screen and (max-width: 1500px) {
  .imgAdd{
    padding: 5%;
    height: 740px;
  }
}

@media screen and (max-width: 1400px) {
  .imgAdd{
    padding: 5%;
    height: 710px;
  }
}

@media screen and (max-width: 1300px) {
  .imgAdd{
    padding: 5%;
    height: 690px;
  }
}

@media screen and (max-width: 1200px) {
  .imgAdd{
    padding: 5%;
    height: 660px;
  }
}

@media screen and (max-width: 1100px) {
  .imgAdd{
    padding: 3%;
    height: 430px;
  }
}

@media screen and (max-width: 1000px) {
  .imgAdd{
    padding: 3%;
    height: 400px;
  }
}

@media screen and (max-width: 900px) {
  .imgAdd{
    padding: 3%;
    height: 380px;
  }
}

@media screen and (max-width: 800px) {
  .imgAdd{
    padding: 3%;
    height: 340px;
  }
}

@media screen and (max-width: 700px) {
  .imgAdd{
    padding: 0%;
    height: 250px;
  }
}

@media screen and (max-width: 600px) {
  .imgAdd{
    padding: 3%;
    height: 160px;
  }
}

@media screen and (max-width: 500px) {
  .imgAdd{
    padding: 0%;
    height: 100px;
  }
}

@media screen and (max-width: 400px) {
  .imgAdd{
    padding: 0%;
    height: 100px;
  }
}