.form-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form div {
  margin: 20px;
}

.logoLog {
  width: 350px;
  border-radius: 5px;
}

label {
  margin-right: 10px;
}

.loginForm__field {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.loginForm__submit {
  margin-top: 10px;
  width: 100%;
}

.loginPageTitle {
  color: rgb(0, 0, 0) !important;
}

.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  max-width: 600px;
  padding: 0 15px;
  width: 45%;
  background-color: rgba(255, 255, 255, 0.192);
  border-radius: 15px;
  padding-bottom: 4px;
}

.buttonLog{
  text-decoration: none !important;
  color: black !important;
  width: 106px !important;
}

.loginPageTitle {
  color: rgb(0, 0, 0);
  align-items: center;
  display: flex;
  height: 64px;
  justify-content: center;
  margin-bottom: 10px;
}

.loginPage__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.568);
  /* box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.281), 0px 0px 15px #696969; */
  width: 350px;
  border: solid 1px;
  border-color: rgb(228, 228, 228);
  border-radius: 15px;
  padding-bottom: 4px;
}
span {
  width: 300px;
}

.loginForm__field {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.loginForm__submit {
  margin-top: 10px;
  width: 100%;
}

.loginForm-field {
  padding: 10px 0;
  margin: 2px !important;
}

.submit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginput {
  width: 100%;
  padding: 5px !important;
}
#password.loginput {
  width: 100%;
}
@media screen and (max-width: 450px) {
  .loginPage {
    width: 75%;
  }

  .logLabl {
    width: 100%;
    margin: 80px 80px 80px 80px;
  }

  .loginput {
    font-size: x-large;
    margin: 5px;
  }

  .form-input {
    margin: 0px;
    width: 300px;
  }
}
